@model IEnumerable<Category>

@{
    ViewData["Title"] = "Category";
}

<h1> This is Category View</h1>

<table class=" table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Display Order
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="30%">
                    @obj.Name
                </td>
                <td width="30%">
                    @obj.DisplayOrder
                </td>
            </tr>
        }
    </tbody>

</table>